server:
  port: 8080

spring:
  cloud:
    gateway:
      default-filters:
        - AddRequestHeader=X-Correlation-ID, #{T(java.util.UUID).randomUUID()}
        - AddResponseHeader=X-Gateway-log, Active

      routes:

        - id: guest-service
          uri: lb://GUEST-SERVICE
          predicates:
            - Path=/api/v1/guest/**
          filters:
            - StripPrefix=3
            - name: RequestRateLimiter
              args:
                redis-rate-limiter.replenishRate: 10
                redis-rate-limiter.burstCapacity: 20
                key-resolver: "#{@ipKeyResolver}"

        - id: loyalty-service
          uri: lb://LOYALTY-SERVICE
          predicates:
            - Path=/api/v1/loyalty/**
          filters:
            - StripPrefix=3
            - name: RequestRateLimiter
              args:
                redis-rate-limiter.replenishRate: 10
                redis-rate-limiter.burstCapacity: 20
                key-resolver: "#{@ipKeyResolver}"

        - id: booking-service
          uri: lb://BOOKING-SERVICE
          predicates:
            - Path=/api/v1/booking/**
          filters:
            - StripPrefix=3
            - name: RequestRateLimiter
              args:
                redis-rate-limiter.replenishRate: 10
                redis-rate-limiter.burstCapacity: 20
                key-resolver: "#{@ipKeyResolver}"

        - id: room-service
          uri: lb://ROOM-SERVICE
          predicates:
            - Path=/api/v1/rooms/**
          filters:
            - StripPrefix=3
            - name: RequestRateLimiter
              args:
                redis-rate-limiter.replenishRate: 10
                redis-rate-limiter.burstCapacity: 20
                key-resolver: "#{@ipKeyResolver}"

        - id: staff-service
          uri: lb://STAFF-SERVICE
          predicates:
            - Path=/api/v1/staffs/**
          filters:
            - StripPrefix=3
            - name: RequestRateLimiter
              args:
                redis-rate-limiter.replenishRate: 10
                redis-rate-limiter.burstCapacity: 20
                key-resolver: "#{@ipKeyResolver}"

        - id: service-management
          uri: lb://SERVICE-MANAGEMENT
          predicates:
            - Path=/api/v1/service/**
          filters:
            - StripPrefix=3
            - name: RequestRateLimiter
              args:
                redis-rate-limiter.replenishRate: 10
                redis-rate-limiter.burstCapacity: 20
                key-resolver: "#{@ipKeyResolver}"
  data:
    redis:
      host: localhost
      port: 6379

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
